#errorBox {
    position: absolute;
    top: 7vh;
    left: 1vh;
    padding: 10px 20px;
    background-color: #ffe9e9;
    border: 5px #d5331c;
    border-style: none none none solid;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 1vh;
}

/* Styling for the top section of the error box */
#topSection {
    display: flex;
    margin-bottom: 5px;
}

#title {
    display: block;
    color: #000000;
    font-weight: 600;
    font-size: 120%;
    margin-left: 8px;
}

/* Styling for the message in the error box */
#message {
    display: block;
    color: #000000;
}