#readmeContainer {
    border: 1px #30363d solid;
    border-radius: 6px;
    padding: 24px;
    margin-top: 20px;
}

#title {
    font-size: 70%;
}

#error {
    margin-top: 20px;
}

#documentation {
    color: #58a6ff;
}

#loading {
    margin-top: 20px;
}