.picContainer {
    display: flex; 
    justify-content: center;
    align-items: center;
}

#profile {
    width: 350px;
    margin-top: 20px;
    float: right;
}

#profilePic {
    border-radius: 50%;
    border: 1px solid #2e343a;
}

#name {
    color: #c9d1d9;
    font-size: 150%;
    margin: 20px 0 2px 0;
}

#login {
    color: #727a83;
    font-size: 120%;
    font-weight: 300;
    margin-bottom: 20px;
}

#bio {
    color: #c9d1d9;
    font-size: 110%;
    font-weight: 400;
}

#followers {
    margin: 20px 0 20px 0;
    font-size: 90%;
    font-weight: 300;
}

.additionalInfo {
    display: flex;
    align-items: center;
    margin: 0 0 2px 0;
}

.infoText {
    color: #c9d1d9;
    font-weight: 300;
    padding: 0;
    margin: 2px 0 2px 0;
}

.infoImage {
    filter: invert(51%) sepia(6%) saturate(544%) hue-rotate(171deg) brightness(92%) contrast(96%);
    margin-right: 10px;
}

@media screen and (max-width: 1030px) {
    #profile {
        width: 100%;
    }
    .picContainer {
        justify-content: flex-start;
    }
}