#sectionNav {
    border: 1px #21262d;
    border-style: none none solid none;
}

#sectionList {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: #c9d1d9;
    list-style-type: none;
    margin: 4px 0 4px 0;
    padding: 0;
}

.sectionItem {
    cursor: pointer;
    padding: 20px;
    height: 100%;
    text-align: center;
    border: 2px;
    border-style: none none solid none;
}