#sectionNav {
    border: 1px #21262d;
    border-style: none none solid none;
}

#sectionList {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: #c9d1d9;
    list-style-type: none;
    margin: 4px 0 4px 0;
    padding: 0;
}

.sectionItem {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 20px 10px;
    height: 100%;
    text-align: center;
    border: 2px;
    border-style: none none solid none;
}

.icon {
    filter: invert(48%) sepia(36%) saturate(101%) hue-rotate(171deg) brightness(92%) contrast(97%);
    margin-right: 8px;
}