* {
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    box-sizing: border-box;
    color: #c9d1d9;
    border: 0;
}
  
/* Remove margin and padding from the body element */
body {
    margin: 0;
    padding: 0;
}
  
/* Set default styles for headings */
h1, h2, h3, h4, h5, h6 {
    padding: 0;
    font-weight: normal;
}
  
/* Define default styles for headings */
h1 {
    font-size: 2em;
    margin: 18px 0 10px 0;
}
h2 {
    font-size: 1.5em;
    margin: 16px 0 8px 0
}
h3 {
    font-size: 1.17em;
    margin: 14px 0 6px 0
}
h4 {
    font-size: 1em;
    margin: 12px 0 4px 0
}
h5 {
    font-size: 0.83em;
    margin: 10px 0 4px 0
}
h6 {
    font-size: 0.67em;
    margin: 8px 0 4px 0
}
  
  /* Set default styles for paragraphs */
p {
    margin: 1em 0;
    padding: 0;
    font-weight: 300;
}
  
hr {
    border: solid #727a83 1px;
}

a {
    text-decoration: none;
}

@font-face {
    font-family: 'Mona Sans';
    src:
      url('/Mona-Sans.woff2') format('woff2 supports variations'),
      url('/Mona-Sans.woff2') format('woff2-variations');
    font-weight: 200 900;
    font-stretch: 75% 125%;
}
  
html {
    font-family: 'Mona Sans';
}