* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    box-sizing: border-box;
    color: #fff;
}

@font-face {
    font-family: 'Mona Sans';
    src:
      url('/Mona-Sans.woff2') format('woff2 supports variations'),
      url('/Mona-Sans.woff2') format('woff2-variations');
    font-weight: 200 900;
    font-stretch: 75% 125%;
}
  
html {
    font-family: 'Mona Sans';
}

main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #0d1116;
    padding: 10px;
}