#main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: #0d1116;
    padding: 20px 10px 20px 10px;
}

#firstSection {
    margin: 0 20px 0 20px;
}

#secondSection {
    margin: 0 20px 0 20px;
}

#title {
    font-size: 2rem;
    margin-bottom: 20px;
    margin-top: 20px;
}

#form {
    height: 40px;
    width: 350px;
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

#input {
    height: 100%;
    width: 60%;
    color: #33373d;
    padding: 0 10px;
}

#submit {
    height: 100%;
    width: 48%;
    background-color: #7040c8;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

#submit:hover {
    background: rgb(112,64,200);
    background: linear-gradient(0deg, rgba(112,64,200,1) 0%, rgba(130,64,200,1) 100%);
}

#profile {
    width: 350px;
    margin-top: 20px;
    float: right;
}

.center {
    display: flex; 
    justify-content: center;
    align-items: center;
}

#profilePic {
    border-radius: 50%;
    border: 1px solid #2e343a;
}

#name {
    color: #c9d1d9;
    font-size: 150%;
    margin: 20px 0 2px 0;
}

#login {
    color: #727a83;
    font-size: 120%;
    font-weight: 300;
    margin-bottom: 20px;
}

#bio {
    color: #c9d1d9;
    font-size: 110%;
    font-weight: 400;
}

#followers {
    margin: 20px 0 20px 0;
    font-size: 90%;
    font-weight: 300;
}

.additionalInfo {
    color: #c9d1d9;
    font-weight: 300;
    margin-bottom: 2px;
}

#data {
    width: 600px;
    border-radius: 5px;
    background-color: #161b22;
    border: 1px solid #30363d;
    margin-top: 10px;
}

.keyValue {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 5px;
    font-size: 70%;
}

.key {
    color: #75bfff;
    width: 25%;
    padding-left: 2%;
}

.value {
    width: 75%;
    word-wrap: break-word;
    padding-right: 2%;
}

.green {
    color: red;
}

@media screen and (max-width: 1030px) {
    #main {
        flex-direction: column;
    }
}

@media screen and (max-width: 630px) {
    .key {
        width: 35%;
    }
    .value {
        width: 65%;
    }
    #data {
        width: 95vw;
    }
}

@media screen and (max-width: 400px) {
    .key {
        width: 40%;
    }
    .value {
        width: 60%;
    }
}