#main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    background-color: #0d1116;
    padding: 20px 10px 20px 10px;
}

#layoutSidebar {
    margin: 0 15px 0 15px;
}

#layoutMain {
    width: 600px;
    display: flex;
    flex-direction: column;
    margin: 0 15px 0 15px;
}

#title {
    font-size: 2.5rem;
    margin-bottom: 20px;
    margin-top: 20px;
    font-weight: 300;
}

#form {
    height: 40px;
    width: 350px;
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

#input {
    height: 100%;
    width: 60%;
    color: #33373d;
    padding: 0 10px;
}

#submit {
    height: 100%;
    width: 48%;
    background-color: #7040c8;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

#submit:hover {
    background: rgb(112,64,200);
    background: linear-gradient(0deg, rgba(112,64,200,1) 0%, rgba(130,64,200,1) 100%);
}

.green {
    color: red;
}

@media screen and (max-width: 1030px) {
    #main {
        flex-direction: column;
        align-items: center;
    }
    #layoutSidebar {
        margin: 0;
    }
    #layoutMain {
        margin: 0;
    }
}

@media screen and (max-width: 630px) {
    #layoutMain {
        width: 95vw;
    }
}